#include <zephyr/dt-bindings/pwm/pwm.h>

&pinctrl {
    i2c0_custom: i2c0_custom {
        group1 {
            pinmux = <I2C0_SDA_GPIO8>,
                     <I2C0_SCL_GPIO9>;
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };

	ledc0_default: ledc0-default {
		group1 {
			pinmux = <LEDC_CH0_GPIO2>;
			output-enable;
		};
	};
};

&ledc0 {
	pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
};

&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_custom>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    oled_display: ssd1306@3c {
        compatible = "solomon,ssd1306";
        reg = <0x3c>;
        status = "okay";
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        prechargep = <0x22>;
        softreset-on;
        ready-time-ms = <100>;
    };

    mpu6050: mpu6050@68 {
        compatible = "invensense,mpu6050";
        reg = <0x68>;
        status = "okay";
        smplrt-div = <249>;
        /* optional if you use interrupt:
        int-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
        */
    };
};


/ {
    chosen {
        zephyr,display = &oled_display;
    };

    aliases {
		pwm-0 = &ledc0;
		pwm-led0 = &pwm_led_blue;
	};

	pwmleds {
		compatible = "pwm-leds";

		pwm_led_blue: pwm-led-gpio0-2 {
			label = "PWM LED0";
			pwms = <&ledc0 0 1000 PWM_POLARITY_NORMAL>;
		};
	};
};

